{% extends 'base.html' %}
{% block title %} View Historical Bus Arrivals {% endblock %}
{% block content %}


<div class="container">
    <h1>Historical Bus Arrival Times</h1>

    <br>
    <input class='form-control' id="myInput" type="text" placeholder="Search database...">
    <br>
    <table class='table table-hover'>
        <thead>
            <tr>
                <th scope="col">Vehicle Registration</th>
                <th scope="col">Departing Station</th>
                <th scope="col">Destination</th>
                <th scope="col">On Line</th>
                <th scope="col">Expected Arrival</th>
                <th scope="col">API Call Timestamp</th>
            </tr>
        </thead>
        <tbody id="myTable">
        {% for item in data %}
        <tr>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>{{item[5]}}</td>
            <td>{{item[6]}}</td>
            <td>{{item[7]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class='text-center'>
        <button class="btn btn-primary"><a class='text-white text-decoration-none' href="{{ url_for('index')}}">See Latest Data</a></button>
    </div>
    <br>
    <script type=text/javascript>
        $(document).ready(function(){
            $("#myInput").on("keyup", function(){
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function(){
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</div>


{% endblock %}
